body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(5, 4, 4);
}


#icon {
    width: 65px;
    height: 65px;

}

#noticias {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.noticia {
    margin: 10px;

    background-color: rgb(0, 0, 0);
    color: white;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 15px;


}

.img_noticia {
    border-radius: 50px;
    width: 400px;

}

footer{
   color: rgb(0, 0, 0);
    padding: 10px;
    align-items: center;
    text-align: center;
    
    background-color: white;
    

}

#titulo_escalacao{

    text-align: center;
    color: white;
}

h5{
    text-align: center;
    color: white;
}

.jogadores{
    
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
}

.escalacao{
    width: 50px;
    text-align: center;
    border-radius: 40px;
    background-color: rgb(0, 0, 0);
    margin: 40px;
    
}

#mascote{

    right: 0px;
    bottom: -30px;
    position: fixed;
    width: 100px;
    height: 100px;
}


