body{
    margin: 0;
    background-color: rgb(204, 204, 204);
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgb(5, 4, 4);
}


#icon{
width: 65px;
height: 65px;

}


.noticia{
background-color: rgb(0, 0, 0);
color: white;
border: 5px solid rgb(223, 0, 0);


}

.img_noticia{
border-radius: 50px;
width: 400px;

}